









<!-- CDN地址 -->




<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<meta http-equiv="expires" content="-1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="//lzdzcdn.dianpusoft.cn/resources/wxjs/gallery/ibd/ibd.min.css?2862">
<link rel="stylesheet" href="//lzdzcdn.dianpusoft.cn/resources/wxjs/animate.min.css?2862">
<link rel="stylesheet" href="//lzdzcdn.dianpusoft.cn/resources/plugIn/vant/vant.css?2862">


<script src="//lzdzcdn.dianpusoft.cn/resources/wxjs/htmlFontSize.min.js?2862"></script>
<script src="//lzdzcdn.dianpusoft.cn/resources/wxjs/zepto.min.js?2862"></script>
<script src="//lzdzcdn.dianpusoft.cn/resources/wxjs/zepto.fx.min.js?2862"></script>
<script src="//lzdzcdn.dianpusoft.cn/resources/wxjs/vue.min.js?2862"></script>
<script src="//lzdzcdn.dianpusoft.cn/resources/wxjs/gallery/ibd/ibd.min.js?2862"></script>
<script src="//lzdzcdn.dianpusoft.cn/resources/wxjs/jd/jssdk.min.js?2862"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js?2862"></script>
<script src="//h5static.m.jd.com/act/jm-jdshare/2.3.0/jm-jdshare.js?2862"></script>
<script type="text/javascript" src="//lzdzcdn.dianpusoft.cn/resources/plugIn/vant/vant.min.js?2862"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vConsole/3.3.4/vconsole.min.js"></script>

<script type="text/javascript">
    var jap = {
        siteId : 'JA2019_2132395',
        autoLogPv : false,
    };
</script>
<script type="text/javascript" src="//wl.jd.com/unify.min.js"></script>


<!DOCTYPE html>
<html>
<head>
    <title>蒙牛签到</title>
    <link rel="stylesheet" href="//lzdzcdn.dianpusoft.cn/resources/wxjs/common/common.css?28624">
    
    
    <link rel="stylesheet" href="//lzdzcdn.dianpusoft.cn/resources/wxjs/dingzhi/mengniu/sign4/index.css?28621">
</head>
<body ontouchstart="">
<input type="hidden" id="baseUrl" value="https://lzdz-isv.isvjcloud.com">
<input type="hidden" id="baseResourcesUrl" value="//lzdzcdn.dianpusoft.cn/resources">
<input type="hidden" id="activityId" value="dz2103100001480309">
<input type="hidden" id="userId" value="1000014803">
<input type="hidden" id="activityName" value="蒙牛签到">
<input type="hidden" id="shopId" value="1000014803">
<input type="hidden" id="SpecUrl" value="https://lzdz-isv.isvjcloud.com/resources">

<div id="app" v-cloak>
    
    <div id="address" v-show="isAddress">
        <van-address-edit :address-info="addressInfo" :area-list="areaList" show-postal :area-columns-placeholder="areaPlaceHolder" :tel-validator="telValidator" @save="saveAddress"/>
    </div>
    
    <span class='hover-icon' style="left: 6.3rem;top: 2.7rem;" :style="{width:hoverIconWidth+'rem',height:hoverIconHeight+'rem',backgroundImage:'url('+hoverIconUrl+')'}"  @click="tracking('去集合页',hoverClickUrl)" v-show="hoverIconUrl!=''"></span>
    
    <div id="main" v-show="!isAddress" :style="{backgroundImage:'url('+backImg+')'}">
        <p class="note">{{todayYear}}年{{todayMonth}}月{{todayDay}}日<br>我的签到积分：{{allPoint}}</p>

        <button class="kvBtn" style="top:0.7rem;" @click="showPopup('popup2Visible')">活动规则</button>
        <button class="kvBtn" style="top:1.2rem;" @click="getPrizeRecord">我的奖品</button>
        <button class="kvBtn" style="top:1.7rem;" @click="getShareRecord">助力好友</button>

        <div class="section1">
            

            <p class="signBtn" @click="signIt">签到领积分</p>
            <p class="signNote">连续签到：{{contiSignNum}}</p>
            <p class="reSignBtn" @click="setShareButton">补     签</p>

            
            
            

            <ul class="week">
                <li>日</li>
                <li>一</li>
                <li>二</li>
                <li>三</li>
                <li>四</li>
                <li>五</li>
                <li>六</li>
            </ul>

            <template v-for="items in calendarMonth">
                <ul class="days" v-show="currentMonth==items.month">
                    <li v-for="item in items.tempArr" class="noBg"></li>
                    <li v-for="item in items.arr" :class="{active:signDetail.indexOf(item.tag)!=-1}" :data-date="item.tag">
                        {{item.day}}
                    </li>
                </ul>
            </template>

            
            
            
            
        </div>

        <div class="section2">
            <button class="btn btn1" :class="{gray100:!taskInfo[0]}" @click="getNodePrizeStatus(taskInfo[0],0)">点击领取</button>
            <button class="btn btn2" :class="{gray100:!taskInfo[1]}" @click="getNodePrizeStatus(taskInfo[1],1)">点击领取</button>
        </div>

        <div class="section3">
            <ul class="list">
                <li v-for="(item,index) in rankList">
                    <p>{{item.pin}}</p>
                    <p>{{item.score}}</p>
                </li>
            </ul>
        </div>

        <button class="shopBtn" @click="goToShop(shopId)">进店逛逛</button>

        
        <div class="popup-mask" v-show="maskVisible"></div>


        
        <div class="popup col-center animated bounceInDown popup1" v-show="popup1Visible">
            <div class="light"></div>
            <div class="box"></div>
            <p class="title">签到成功</p>
            <p class="tip">连续签到{{contiSignNum}}天，今日获得5积分</p>
            <p class="popupBtn" @click="goToShop('1000014803')">进店逛逛</p>
            <span class="closeBtn" @click="hidePopup('popup1Visible')"></span>
        </div>

        
        <div class="popup col-center long animated bounceInDown popup2" v-show="popup2Visible">
            <p class="title">—— 活动规则 ——</p>
            <div class="context" v-html="rule"></div>
            <span class="closeBtn" @click="hidePopup('popup2Visible')"></span>
        </div>

        
        <div class="popup col-center long animated bounceInDown popup3" v-show="popup3Visible">
            <p class="title">—— 好友助力纪录 ——</p>
            <ul class="list">
                <li v-for="(item,index) in shareRecord">
                    <img class="pointer-events avatar" :src="item.pinImg" alt="">
                    <p class="name">{{item.pin | starname}}</p>
                    <p class="time">{{item.createTime | timeFormat2}}</p>
                </li>
                <li v-if="shareRecord.length==0" style="font-size: 0.24rem;color: #fff;justify-content: center;">暂无纪录</li>
            </ul>
            <span class="closeBtn" @click="hidePopup('popup3Visible')"></span>
        </div>

        
        <div class="popup col-center long animated bounceInDown popup4" v-show="popup4Visible">
            <p class="title">—— 我的中奖纪录 ——</p>
            <ul class="list">
                <li>
                    <p>日期</p>
                    <p>类型</p>
                    <p>奖品</p>
                </li>
                <li v-for="item in prizeRecord">
                    <p>{{item.createTime | timeFormat}}</p>
                    <p>{{item.prizeType | prizeTypeFilter}}</p>
                    <p>{{item.prizeType,item.prizeValue | prizeValueFilter}}</p>
                </li>
                <li v-if="prizeRecord.length==0" style="font-size: 0.24rem;color: #fff;justify-content: center;">暂无纪录</li>
            </ul>
            <span class="closeBtn" @click="hidePopup('popup4Visible')"></span>
       </div>

        
        <div class="popup col-center animated bounceInDown popup5" v-show="popup5Visible">
            <p class="title">—— 恭喜您——</p>
            <ul class="list">
                <li v-for="(item,index) in prizeList">
                    
                    <span>{{item.prizeType==6?('领取'+item.prizeValue+'京豆'):item.prizeType==9?('领取'+item.prizeValue+'积分'):('领取'+item.prizeValue+'元优惠券')}}</span>
                    <p class="popupBtn" @click="getNodePrize(item.hasReceive,item.prizeType,index)">{{item.hasReceive?'已领取':'领    取'}}</p>
                </li>
            </ul>
            <span class="closeBtn" @click="hidePopup('popup5Visible')"></span>
        </div>

        
        <div class="popup col-center animated bounceInDown popup7" v-show="popup7Visible">
            <div class="light"></div>
            <p class="title" style="font-size:0.4rem;line-height:1.3;">恭喜您成为TOP10<br>有机会领取500京豆</p>
            <p class="popupBtn" @click="getTopPrize">点击领取</p>
            <span class="closeBtn" @click="hidePopup('popup7Visible')"></span>
        </div>

        
        <div class="popup col-center animated bounceInDown popup8" v-show="popup8Visible">
            <p class="title">恭喜助力成功！<br>参与活动更有机会获得500京豆<br>快来一起签到吧</p>
            <p class="tip">同一位好友不能重复助力哦~</p>
            <p class="popupBtn" @click="hidePopup('popup8Visible')">我也要参加</p>
            <span class="closeBtn" @click="hidePopup('popup8Visible')"></span>
        </div>

        
        <div class="popup col-center animated bounceInDown popup9" v-show="popup9Visible">
            <p class="title">您已经助力过好友咯！<br>不如自己来参加吧<br>参与活动更有机会获得500京豆<br>快来一起签到吧</p>
            <p class="popupBtn" @click="hidePopup('popup9Visible')">我也要参加</p>
            <span class="closeBtn" @click="hidePopup('popup9Visible')"></span>
        </div>

        
        <div class="popup col-center animated bounceInDown popup10" v-show="popup10Visible">
            <p class="title">助力好友已满！<br>不如自己来参加吧<br>参与活动更有机会获得500京豆<br>快来一起签到吧</p>
            <p class="popupBtn" @click="hidePopup('popup10Visible')">我也要参加</p>
            <span class="closeBtn" @click="hidePopup('popup10Visible')"></span>
        </div>

        
        <div class="popup col-center animated bounceInDown popup11" v-show="popup11Visible">
            <p class="title">对不起<br>您还不是蒙牛会员<br>只有成为会员才能参与活动哦</p>
            <p class="popupBtn" @click="tracking('开卡', openCardLink)">加入蒙牛</p>
              <span class="closeBtn" @click="hidePopup('popup11Visible')"></span>
        </div>
    </div>
</div>



<!--微信分享指引-->
<div onclick="closeWechatShareMask();">
	<transition name="fase">
		<div class="wechat-share-mask wechatShareMask" style="display: none"></div>
	</transition>
	<transition name="ease">
		<div class="wechat-share-content wechatShareMask" style="display: none"></div>
	</transition>
</div>

<script src="https://lzdz-isv.isvjcloud.com/resources/wxjs/config.min.js?2862"></script>

<script src="//lzdzcdn.dianpusoft.cn/resources/wxjs/lzsdk.min.js?2862"></script>

<script src="//lzdzcdn.dianpusoft.cn/resources/globalFiles/ConsumerGlobal/browserLog/browserLog.min.js?2862"></script>
<script src="//lzdzcdn.dianpusoft.cn/resources/wxjs/dingzhi/common/address/area.js?28628"></script>



<script src="//lzdzcdn.dianpusoft.cn/resources/wxjs/dingzhi/mengniu/sign4/api.min.js?28621"></script>
<script src="//lzdzcdn.dianpusoft.cn/resources/wxjs/dingzhi/mengniu/sign4/index.js?28621"></script>
</body>
</html>
