








<!-- CDN地址 -->
 


<html>
<head>
    


<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<meta http-equiv="expires" content="-1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="//cjwxqz.dianpusoft.cn/resources/wxjs/gallery/ibd/ibd.min.css?2907">
<link rel="stylesheet" href="//cjwxqz.dianpusoft.cn/resources/wxjs/animate.min.css?2907">
<link rel="stylesheet" href="//cjwxqz.dianpusoft.cn/resources/plugIn/vant/vant.css?2907">


<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/htmlFontSize.min.js?2907"></script>
<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/zepto.min.js?2907"></script>
<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/zepto.fx.min.js?2907"></script>
<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/vue.min.js?2907"></script>
<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/gallery/ibd/ibd.min.js?2907"></script>
<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/jd/jssdk.min.js?2907"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.3.2.js?2907"></script>
<script src="//h5static.m.jd.com/act/jm-jdshare/2.3.0/jm-jdshare.js?2907"></script>
<script type="text/javascript" src="//cjwxqz.dianpusoft.cn/resources/plugIn/vant/vant.min.js?2907"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/vConsole/3.3.4/vconsole.min.js"></script>

<script type="text/javascript">
    var jap = {
        siteId : 'JA2019_2132395',
        autoLogPv : false,
    };
</script>
<script type="text/javascript" src="//wl.jd.com/unify.min.js"></script>


<title>签到有礼</title>
<link rel="stylesheet" href="//cjwxqz.dianpusoft.cn/resources/wxcss/sign/0000.min.css?2907">
    <link rel="stylesheet" href="//cjwxqz.dianpusoft.cn/resources/wxcss/sign/0120/0120.min.css?2907">
    <link rel="stylesheet" href="//cjwxqz.dianpusoft.cn/resources/wxcss/common/component-countdown.min.css?2907">
</head>
<body>
<input type="hidden" id="baseUrl" value="https://lzkj-isv.isvjcloud.com">
<input type="hidden" id="baseResourcesUrl" value="//cjwxqz.dianpusoft.cn/resources">
<input type="hidden" id="activityId" value="f8d4b0c5dfaf4c49b415987962ee9ef4">
<input type="hidden" id="venderId" value="1000300368">
<input type="hidden" id="userId" value="1000300368">
<input type="hidden" id="startTime" value="2021-02-23 14:30:00.0">
<div id="timmer">
    <vue-countdown v-bind:vendtime="jstime?jstime:0"></vue-countdown>
</div>

<div id="app" v-show="isShowApp" style="display: none;">
    
    







    
    
    <div class="draw-rule" @click="showSidebar"></div>
    <div class="draw-banner-name animated fadeInUp">{{shopInfo.shopName}}</div>
    <div class="draw-banner">
        <img class="animated bounceInDown" src="//img10.360buyimg.com/imgzone/jfs/t1/32433/8/7731/31068/5c99ed08Ede19d024/12729ed5cafd3230.png" alt="" style="display: block;">
    </div>
        <div class="signButton">
            <div class="draw-sign-btn" @click="sign" v-if="signRecord.lastSignDate == null || signRecord.lastSignDate != nowDay">
                {{isFocusShop == 'y'?'关注店铺 点我签到':'点我签到'}}
            </div>
            <div class="draw-sign-btn1 active" v-if="signRecord.lastSignDate == nowDay">
                今日已签到
                <img class="hasSign" src="//img10.360buyimg.com/imgzone/jfs/t1/29121/5/12623/1020/5c99f31bEf21c5ea3/67a63252c9442e9c.png" alt="">
            </div>
            <div style="font-size: .24rem;color: #fff;margin-top: .13rem;" v-if="signRecord.lastSignDate == null || signRecord.lastSignDate != nowDay">今日未签到</div>
        </div>
    <div class="draw-sign-ctn">
        <div class="draw-sign-count f-cb">
            <div class="f-fl">连续签 <span style="color: #fc7742;font-size: .36rem;">{{signRecord.contiSignNum}}</span> 天</div>
            <div class="f-fr">累计签 <span style="color: #fc7742;font-size: .36rem;">{{signRecord.totalSignNum}}</span> 天</div>
        </div>
        <div class="draw-sign-date">{{day}}</div>
    </div>
    <div class="draw-content">
        <div class="draw-plate" id="lottery" ref="plate">
            <div class="draw-sign-week f-cb">
                <span>日</span>
                <span>一</span>
                <span>二</span>
                <span>三</span>
                <span>四</span>
                <span>五</span>
                <span>六</span>
            </div>
            <div class="draw-sign-day">
                <span v-for="it in dateList" :class="{disabled: it.isDisabled, isign: it.isign, isgift: it.isgift}">
                    {{it.day}}
                    <template v-if = "it.isCurDay && it.isign">
                        <img class="isCurDay" src="//img10.360buyimg.com/imgzone/jfs/t1/21821/26/12806/656/5c9ae222Ec5f7ece8/047a34f27654df36.png" alt="" >
                    </template>
                </span>
            </div>
        </div>
    </div>

    <div v-if="wareList.length > 0">
        <div class="wareTitle" style="text-align: center;">店长推荐</div>
        <div>
            <ul class="draw-sign-list f-cb">
                <li v-for="it in wareList">
                    <div class="pic">
                        <a href="javascript:;" @click="gotoSkuPage(it.skuId)">
                            <img alt="" :src="'//img10.360buyimg.com/n1/' + it.logo" style="width: 100%">
                        </a>
                    </div>
                    <div class="title">{{it.skuName}}</div>
                    <div class="detail f-cb">
                        <div class="f-fl">
                            <div v-if="it.showType == 1" class="price">￥{{it.jdPrice}}</div>
                            <div v-if="it.showType == 2" class="price">
                                <template v-if="it.promoPrice == '' || it.promoPrice == null">￥{{it.jdPrice}}</template>
                                <template v-else>￥{{it.promoPrice}}</template>
                            </div>
                            
                        </div>
                        <div class="f-fr">
                            <a class="detail-btn" href="javascript:;" @click="gotoSkuPage(it.skuId)">购买</a>
                            
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--恭喜弹窗-->
    <div>
        <transition name="fase">
            <div class="gongxi-mask" v-show="isGongxi"></div>
        </transition>
        <transition name="ease">
            <div class="gongxi-content" v-show="isGongxi">
                <a href="javascript:;" class="gongxi-content-close" @click="hideGongxi"></a>
            </div>
        </transition>
    </div>

    <Sidebar v-model="isidebar">
        <div class="draw-sidebar-content">
            <div class="draw-tabs f-cb">
                <ul class="f-cb">
                    <li class="f-fl" :class="{active: activeTab === 0}" @click="changeTabs(0)"><a href="javascript:;">活动说明</a></li>
                    <li class="f-fl" :class="{active: activeTab === 1}" @click="changeTabs(1)"><a href="javascript:;">我的奖品</a></li>
                </ul>
            </div>
            <div class="draw-tabs-content">
                <div class="draw-tabs-item" :class="{active: activeTab === 0}">
                    <div>
                        <div class="draw-label">规则说明</div>
                        <div v-html="rule" style="margin-top: 0.2rem;"></div>
                    </div>
                    <div style="margin-top: 0.4rem;">
                        <div class="draw-label">主办单位</div>
                        <div style="margin-top: 0.2rem;">{{shopInfo.shopName}}</div>
                    </div>
                    <div style="margin-top: 0.4rem;">
                        <div class="draw-label">技术支持</div>
                        <div style="margin-top: 0.2rem;">
                            
<!-- 底部 -->
<div>
    京麦服务市场插件 <span style="color:#3f80ff;">超级无线</span> 提供技术支持
</div>
<div style="font-size: .16rem;">Copyright © 2004-2021京东<span class="yuming"></span> 版权所有 京ICP备17005970号-<span class="domain-name-num"></span></div>
<script>
    setTimeout(function () {
        var hostName=location.hostname;
        if(hostName.indexOf('isvjcloud.com')!=-1){
            $(".yuming").html("isvjcloud.com");
            $(".domain-name-num").html(4);
        }else if(hostName.indexOf('isvjd.com')!=-1){
            $(".domain-name-num").html(10);
            $(".yuming").html("isvjd.com")
        }else if(hostName.indexOf('jdfw1.com')!=-1){
            $(".domain-name-num").html(9);
            $(".yuming").html("jdfw1.com")
        }else {
            $(".domain-name-num").html("");
            $(".yuming").html("127.0.0.1")
        }
    },1000)
</script>

                        </div>
                    </div>
                </div>
                <div class="draw-tabs-item" :class="{active: activeTab === 1}">
                    <div class="f-tac" v-show="drawRecord.length <= 0" style="padding: 0.8rem;">
                        暂无中奖记录
                    </div>
                    <table v-show="drawRecord.length > 0" class="ibd-record-table">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>类型</th>
                            <th>奖品</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="it in drawRecord"  @click="linkToAddress(it.awardType,it.addressId,it.needWriteAddress,it.gift.giftName)">
                            <td>
                                <div style="width: 1.5rem;">{{it.giftTime | formatDates}}</div>
                            </td>
                            <td>
                                <div style="width: 1.6rem;">
                                    <span v-if="it.giftType == '01'">每日赠送</span>
                                    <span v-if="it.giftType == '02'">连续签到</span>
                                    <span v-if="it.giftType == '03'">累计签到</span>
                                </div>
                            </td>
                            <td>
                                <div style="width: 1.7rem;">{{it.gift.giftName}}<span class="loaction" v-if="tip&&it.awardType==7"></span></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div v-if="tip" style="margin-top:0.6rem;height:0.8rem;line-height:0.8rem;color:#f23b3d;font-size:0.24rem;text-align: center">温馨提示：点击<span class="loaction"></span>填写收货地址领取实物奖品</div>
                </div>
            </div>
        </div>
    </Sidebar>
        
        <div class="win-modal"  >
            <div class="win-modal-mask" v-show="shiwu.isAddShow"></div>
            <transition name="ease">
                <div class="win-modal-wrap" v-show="shiwu.isAddShow" style="z-index: 999999;">
                    <div class="win-modal-modal">
                        <a class="win-modal-btn-cancel" href="javascript:;" @click="closeShiwuAdd">&nbsp;</a>
                        <div class="win-modal-content">
                            <div class="win-modal-header">
                                <div class="win-modal-header-inner">
                                    <div style="margin-top: 0.6rem;font-size: 0.2rem;color: #333;position: relative;z-index: 5;">
                                        {{shopInfo.shopName}}
                                    </div>
                                    <img class="header-img" style="top: -0.37rem;"
                                         src="https://img10.360buyimg.com/imgzone/jfs/t19708/344/384123939/28216/5e669177/5a7126a4N65a05b9a.png" alt="">
                                </div>
                            </div>
                            <div class="win-modal-body">
                                <div style="color: #f23c3c;font-size: 0.3rem;word-break: break-all;">
                                    <div class="inline-block">恭喜</div>
                                    <div class="inline-block">
                                        <template v-if="attrTouXiang != '' && attrTouXiang != null">
                                            <img :src="attrTouXiang"
                                                 alt="" style="width: 0.6rem;height: 0.6rem;border-radius: 100%;">
                                        </template>
                                    </div>
                                    <div class="inline-block">
                                        <span style="color: #333;">{{nickname}}</span>
                                    </div>
                                    <div class="inline-block">
                                        您中了
                                    </div>
                                </div>
                                <div style="color: #f23c3c;font-size: 0.48rem;">{{shiwu.name}}</div>
                                <div style="color: #333;font-size: 0.2rem;margin-top: 0.2rem;">
                                    实物奖品系统不能自动发放，请<span style="color: #f23c3c;">联系商家客服领取</span>
                                </div>
                                <div>
                                    <a  href="javascript:;" @click="gotoShopPage( shopInfo.sid)" style="display:block;height: 0.9rem;
                                line-height: 0.9rem;font-size: 0.42rem;background: #f56264;color: #fff;
                                text-decoration: none;border-radius: 3px;margin-top: 0.3rem;">进店逛逛</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>
        </div>

        
<!--其他通用弹窗-->


<div class="win-modal">
    <div class="win-modal-mask" v-show="yhq.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="yhq.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeYhq">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <div style="width: 2.35rem;font-size: 0.2rem;position: absolute;
                                left: 0.8rem;top: 2.9rem;z-index: 4;">{{shopInfo.shopName}}
                            </div>
                            <div style="font-size: 0.2rem;position: absolute;left: 3.6rem;top: 2.9rem;z-index: 4;">
                                <span style="vertical-align: top;">￥</span><span
                                    style="font-size: 0.36rem;">{{yhq.denominations}}</span></div>
                            <img class="header-img"
                                 src="https://img10.360buyimg.com/imgzone/jfs/t18244/304/363205537/2450/38cf9caa/5a7126a4N99d46ded.png"
                                 style="width: 4.2rem;height: 1.27rem;top: 2.54rem;left: 0.53rem;" alt="">
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="color: #f23c3c;font-size: 0.3rem;">恭喜您中了</div>
                         <div style="color: #f23c3c;font-size: 0.48rem;">{{yhq.name}}</div>
                            <div style="color: red;font-size: 0.2rem;">需前往领取，领取后24小时内到账</div>
                        <div>
                            <a :href="yhq.url" style="display:block;height: 0.9rem;
                                line-height: 0.9rem;font-size: 0.42rem;background: #f56264;color: #fff;
                                text-decoration: none;border-radius: 3px;margin-top: 0.3rem;">确认领取</a>
                        </div>
                    </div>
                    <div class="win-modal-footer f-cb">
                        <a class="showbtn f-fl" href="javascript:;" @click="shareActivity">立即分享</a>
                        <a class="showbtn f-fl" href="javascript:;" @click="gotoShopPage( shopInfo.sid)">进店逛逛</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>


<div class="win-modal">
    <div class="win-modal-mask" v-show="jingdou.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="jingdou.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeJingDou">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <div style="margin-top: 0.6rem;font-size: 0.2rem;color: #333;position: relative;z-index: 5;">
                                {{shopInfo.shopName}}
                            </div>
                            <img class="header-img"
                                 src="https://img10.360buyimg.com/imgzone/jfs/t18601/242/377795312/21148/e6976960/5a7126a4N2377b268.png" alt="">
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="color: #f23c3c;font-size: 0.3rem;">恭喜您中了</div>
                        <div style="color: #f23c3c;font-size: 0.48rem;">{{jingdou.name}}</div>
                        <div style="margin-top: 0.2rem;color: #999;font-size: 0.2rem;">
                            <span class="showInWQ" style="display: none;">京豆已放到您的账户中，可在<span style="color: #f23c3c;">个人中心-京豆</span>中查看</span>
                            <span class="showInAPP" style="display: none;">京豆已放到您的账户中，可在<span style="color: #f23c3c;">京东APP-我的-京豆</span>中查看</span>
                        </div>
                    </div>
                    <div class="win-modal-footer f-cb">
                        <a class="showbtn f-fl" href="javascript:;" @click="shareActivity">立即分享</a>
                        <a class="showbtn f-fl" href="javascript:;" @click="gotoShopPage( shopInfo.sid)">进店逛逛</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>
<script>
    $(function(){
        if (JSSDK.Client.isJDApp()) {
            $(".showInAPP").show();
        }else {
            $(".showInWQ").show();

        }
    })
</script>

<div class="win-modal">
    <div class="win-modal-mask" v-show="shiwu.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="shiwu.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeShiwu">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <div style="margin-top: 0.6rem;font-size: 0.2rem;color: #333;position: relative;z-index: 5;">
                                {{shopInfo.shopName}}
                            </div>
                            <img class="header-img" style="top: -0.37rem;"
                                 src="https://img10.360buyimg.com/imgzone/jfs/t19708/344/384123939/28216/5e669177/5a7126a4N65a05b9a.png" alt="">
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="color: #f23c3c;font-size: 0.3rem;word-break: break-all;">
                            <div class="inline-block">恭喜</div>
                            <div class="inline-block">
                                <template v-if="attrTouXiang != '' && attrTouXiang != null">
                                    <img :src="attrTouXiang"
                                         alt="" style="width: 0.6rem;height: 0.6rem;border-radius: 100%;">
                                </template>
                            </div>
                            <div class="inline-block">
                                <span style="color: #333;">{{nickname}}</span>
                            </div>
                            <div class="inline-block">
                                您中了
                            </div>
                        </div>
                        <div style="color: #f23c3c;font-size: 0.48rem;">{{shiwu.name}}</div>
                        <div style="color: #333;font-size: 0.2rem;margin-top: 0.2rem;text-align: left">
                            实物奖品系统不能自动发放，请准确填写真实有效的邮寄地址 <span style="color: #f23c3c;">（超过1小时未填写对应收货信息，视为放弃）</span>
                        </div>
                        <div>
                            <a href="javascript:void(0);" @click="saveGiftAddress()" style="display:block;height: 0.9rem;
                                line-height: 0.9rem;font-size: 0.42rem;background: #f56264;color: #fff;
                                text-decoration: none;border-radius: 3px;margin-top: 0.3rem;">填写邮寄地址</a>
                        </div>
                        
                            
                        
                        
                            
                                
                                
                        
                    </div>
                    
                        
                           
                        
                    
                </div>
            </div>
        </div>
    </transition>
</div>


<div class="win-modal">
    <div class="win-modal-mask" v-show="zlyc.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="zlyc.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeZlyc">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <img class="header-img"
                                 src="https://img10.360buyimg.com/imgzone/jfs/t19657/337/379038259/10751/123142d/5a7126a4N215de8bb.png" alt="">
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="color: #f23c3c;font-size: 0.3rem;">搓搓手跺跺脚</div>
                        <div style="color: #f23c3c;font-size: 0.48rem;">再来一次</div>
                        <div>
                            <a href="javascript:;" style="display:block;height: 0.9rem;
                                line-height: 0.9rem;font-size: 0.42rem;background: #f56264;color: #fff;
                                text-decoration: none;border-radius: 3px;margin-top: 0.3rem;"
                               @click="closeZlyc">继续抽奖</a>
                        </div>
                    </div>
                    <div class="win-modal-footer f-cb">
                        <a class="showbtn f-fl" href="javascript:;" @click="shareActivity">立即分享</a>
                        <a class="showbtn f-fl" href="javascript:;" @click="gotoShopPage( shopInfo.sid)">进店逛逛</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>


<div class="win-modal">
    <div class="win-modal-mask" v-show="xxcy.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="xxcy.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel nomal" href="javascript:;" @click="closeXxcy">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header nomal">
                        <div class="win-modal-header-inner">
                            <img class="header-img"
                                 src="https://img10.360buyimg.com/imgzone/jfs/t18640/237/360861051/18605/7bbde14/5a7126a4Nfb005ae2.png"
                                 style="top: 0;" alt="">
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="font-size: 0.3rem;">很抱歉</div>
                        <div style="font-size: 0.48rem;">未中奖</div>
                        <div style="color: #999;font-size: 0.2rem;margin-top: 0.2rem;">
                            中奖不是最终的追求，重要的是开心咯
                        </div>
                        <div>
                            <a href="javascript:;" @click="gotoShopPage( shopInfo.sid)" style="display:block;height: 0.9rem;
                                line-height: 0.9rem;font-size: 0.42rem;background: #f56264;color: #fff;
                                text-decoration: none;border-radius: 3px;margin-top: 0.3rem;">进店逛逛</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>


<div class="win-modal">
    <div class="win-modal-mask" v-show="zhuanxj.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="zhuanxj.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeZhuanxj">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <div style="margin-top: 0.6rem;font-size: 0.2rem;color: #333;position: relative;z-index: 5;">
                                {{shopInfo.shopName}}
                            </div>
                            <img class="header-img" style="top: -0.37rem;"
                                 src="https://img10.360buyimg.com/imgzone/jfs/t19708/344/384123939/28216/5e669177/5a7126a4N65a05b9a.png" alt="">
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div>
                            <div>
                                <div class="inline-block">
                                    <img :src="zhuanxj.showImage" alt="" style="width: 0.9rem;height: 0.9rem;">
                                </div>
                                <div class="inline-block" style="margin-left: 0.1rem;font-size: 0.3rem;text-align: left;">
                                    <div>京东价：￥{{zhuanxj.jdj}}</div>
                                    <div style="color: #f23c3c;">专享价：￥{{zhuanxj.yhj}}</div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top: 0.05rem;color: #f23c3c;font-size: 0.3rem;word-break: break-all;">
                            <div class="inline-block">恭喜您中了</div>
                        </div>
                        <div style="margin-top: 0.05rem;color: #f23c3c;font-size: 0.36rem;">{{zhuanxj.name}}</div>
                        <div style="color: #333;font-size: 0.2rem;margin-top: 0.2rem;">
                            仅中奖人可享受优惠，仅可使用一次
                        </div>
                        <div>
                            <a :href="zxjURLChange(zhuanxj.url)" style="display:block;height: 0.9rem;
                                line-height: 0.9rem;font-size: 0.42rem;background: #f56264;color: #fff;
                                text-decoration: none;border-radius: 3px;margin-top: 0.3rem;">立即去购买</a>
                        </div>
                    </div>
                    <div class="win-modal-footer f-cb">
                        
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>


<div class="win-modal">
    <div class="win-modal-mask" v-show="dianpujifen.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="dianpujifen.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeDianpujifen">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <div style="margin-top: 0.6rem;font-size: 0.2rem;color: #333;position: relative;z-index: 5;">
                                {{shopInfo.shopName}}
                            </div>
                            <img class="header-img"
                                 src="https://img10.360buyimg.com/imgzone/jfs/t18406/313/393317246/13350/2f522aa9/5a7126a4Ne28d70f7.png" alt="">
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="color: #f23c3c;font-size: 0.3rem;">恭喜您中了</div>
                        <div style="color: #f23c3c;font-size: 0.48rem;">{{dianpujifen.name}}</div>
                        <div style="margin-top: 0.2rem;color: #999;font-size: 0.2rem;">
                             积分已放到您的账户中，可在<span style="color: #f23c3c;">店铺会员页</span>中查看
                        </div>
                    </div>
                    <div class="win-modal-footer f-cb">
                        <a class="showbtn f-fl" href="javascript:;" @click="shareActivity">立即分享</a>
                        <a class="showbtn f-fl" href="javascript:;" @click="gotoShopPage( shopInfo.sid)">进店逛逛</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>

<div class="win-modal">
    <div class="win-modal-mask" v-show="jdEcard.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="jdEcard.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeJdEcard">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <div style="margin-top: 0.6rem;font-size: 0.2rem;color: #333;position: relative;z-index: 5;">
                                
                            </div>
                            <img class="header-img"
                                 src="https://img10.360buyimg.com/imgzone/jfs/t30253/34/857876187/16945/2b7ee4ac/5bffcf1cN500920f4.png" alt="" style="width:2.78rem;height:1.66rem;margin:.65rem auto 0 auto;">
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="color: #f23c3c;font-size: 0.3rem;">恭喜您中了</div>
                        <div style="color: #f23c3c;font-size: 0.48rem;">{{jdEcard.name}}</div>
                        
                        <div style="margin-top: 0.2rem;color: #999;font-size: 0.2rem;">
                            京东E卡已经发放到您的账户中，可在<span style="color: #f23c3c;">京东APP-我的钱包-礼品卡</span>中查看
                        </div>
                    </div>
                    <div class="win-modal-footer f-cb">
                        <a class="showbtn f-fl" href="javascript:;" @click="shareActivity">立即分享</a>
                        <a class="showbtn f-fl" href="javascript:;" @click="gotoShopPage( shopInfo.sid)">进店逛逛</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>



<div class="win-modal">
    <div class="win-modal-mask" v-show="jdFlow.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="jdFlow.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeJdFlow">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <div style="margin-top: 0.6rem;font-size: 0.2rem;color: #333;position: relative;z-index: 5;">
                                
                            </div>
                            <img class="header-img"
                                 src="https://img10.360buyimg.com/imgzone/jfs/t1/23609/40/14860/15314/5cac4a2dEe4775298/b258f9f4aae85958.png" alt="" style="width:2.78rem;height:1.66rem;margin:.65rem auto 0 auto;">
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="color: #f23c3c;font-size: 0.3rem;">恭喜您中了</div>
                        <div style="color: #f23c3c;font-size: 0.48rem;">{{jdFlow.name}}</div>
                        
                        <div style="margin-top: 0.2rem;color: #999;font-size: 0.2rem;">
                            流量包已经发放到您的账户中，可在<span style="color: #f23c3c;">京东APP-我的钱包-领流量-通用流量</span>中查看
                        </div>
                    </div>
                    <div class="win-modal-footer f-cb">
                        <a class="showbtn f-fl" href="javascript:;" @click="shareActivity">立即分享</a>
                        <a class="showbtn f-fl" href="javascript:;" @click="gotoShopPage( shopInfo.sid)">进店逛逛</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>

<div class="win-modal">
    <div class="win-modal-mask" v-show="aiqiyi.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="aiqiyi.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeaiqiyi">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <div style="margin-top: 0.6rem;font-size: 0.2rem;color: #333;position: relative;z-index: 5;">
                                
                            </div>
                            <img class="header-img"
                                 src="https://img10.360buyimg.com/imgzone/jfs/t1/14446/25/5622/27388/5c401e0dE72386bd2/60bf5967c4e15923.png" alt="" style="width:2.78rem;height:1.66rem;margin:.65rem auto 0 auto;">
                            <div style="position: relative;left: 0;right: 0;z-index: 10;top: 1.35rem;font-size: 0.16rem;color: #fff;transform: scale(.8);">
                                {{aiqiyi.value}}元/
                            </div>
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="color: #f23c3c;font-size: 0.3rem;">恭喜您中了</div>
                        <div style="color: #f23c3c;font-size: 0.48rem;">{{aiqiyi.name}}</div>
                        
                        <div style="margin-top: 0.2rem;color: #999;font-size: 0.2rem;">
                            京东E卡已经发放到您的账户中，可在<span style="color: #f23c3c;">京东APP-我的钱包-礼品卡</span>中查看
                        </div>
                    </div>
                    <div class="win-modal-footer f-cb">
                        <a class="showbtn f-fl" href="javascript:;" @click="shareActivity">立即分享</a>
                        <a class="showbtn f-fl" href="javascript:;" @click="gotoShopPage( shopInfo.sid)">进店逛逛</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>

<div class="win-modal">
    <div class="win-modal-mask" v-show="plusVip.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="plusVip.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeplusVip">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <div style="margin-top: 0.6rem;font-size: 0.2rem;color: #333;position: relative;z-index: 5;">
                                
                            </div>
                            <img class="header-img"
                                 src="https://img10.360buyimg.com/imgzone/jfs/t1/25338/7/5621/22904/5c401e0eE91d82aa7/c50ce08307cc422c.png" alt="" style="width:2.78rem;height:1.66rem;margin:.65rem auto 0 auto;">
                            <div style="position: relative;left: 0;right: 0;z-index: 10;top: 1.4rem;font-size: 0.16rem;color: #965d05;transform: scale(.8);">
                                {{plusVip.value}}元/年卡
                            </div>
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="color: #f23c3c;font-size: 0.3rem;">恭喜您中了</div>
                        <div style="color: #f23c3c;font-size: 0.48rem;">{{plusVip.name}}</div>
                        
                        <div style="margin-top: 0.2rem;color: #999;font-size: 0.2rem;">
                            京东E卡已经发放到您的账户中，可在<span style="color: #f23c3c;">京东APP-我的钱包-礼品卡</span>中查看
                        </div>
                    </div>
                    <div class="win-modal-footer f-cb">
                        <a class="showbtn f-fl" href="javascript:;" @click="shareActivity">立即分享</a>
                        <a class="showbtn f-fl" href="javascript:;" @click="gotoShopPage( shopInfo.sid)">进店逛逛</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>

<div class="win-modal">
    <div class="win-modal-mask" v-show="aiqiyi.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="aiqiyi.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeaiqiyi">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <div style="width:2.78rem;height:1.66rem;margin: .6rem auto 0 auto;" :class="{'iqyi-monthCard':drawItemId1 == '月卡','iqyi-seasonCard':drawItemId1 == '季卡','iqyi-yearCard':drawItemId1 == '年卡','iqyi-halfYearCard':drawItemId1 == '半年卡'}"></div>
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="color: #f23c3c;font-size: 0.3rem;">恭喜您中了</div>
                        <div style="color: #f23c3c;font-size: 0.36rem;">{{aiqiyi.name}}</div>
                        
                        
                        
                        
                        <a href="http://asset-m.jd.com/" style="display: block;width:3.2rem;height:.6rem;background: #fc3c2c;border-radius: 5px;font-size: .24rem;text-align: center;line-height: .6rem;color:#fff;margin:.2rem auto 0 auto;">立即兑换</a>

                    </div>
                    <div class="win-modal-footer f-cb">
                        <a class="showbtn f-fl" href="javascript:;" @click="shareActivity">立即分享</a>
                        <a class="showbtn f-fl" href="javascript:;" @click="gotoShopPage( shopInfo.sid)">进店逛逛</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>

<div class="win-modal">
    <div class="win-modal-mask" v-show="plusVip.isShow"></div>
    <transition name="ease">
        <div class="win-modal-wrap" v-show="plusVip.isShow">
            <div class="win-modal-modal">
                <a class="win-modal-btn-cancel" href="javascript:;" @click="closeplusVip">&nbsp;</a>
                <div class="win-modal-content">
                    <div class="win-modal-header">
                        <div class="win-modal-header-inner">
                            <div class="plus-yearCard" style="width:2.78rem;height:1.66rem;margin: .6rem auto 0 auto;" ></div>
                        </div>
                    </div>
                    <div class="win-modal-body">
                        <div style="color: #f23c3c;font-size: 0.3rem;">恭喜您中了</div>
                        <div style="color: #f23c3c;font-size: 0.36rem;">{{plusVip.name}}</div>
                        
                        
                        
                        
                        <a href="http://asset-m.jd.com/" style="display: block;width:3.2rem;height:.6rem;background: #fc3c2c;border-radius: 5px;font-size: .24rem;text-align: center;line-height: .6rem;color:#fff;margin:.2rem auto 0 auto;">立即兑换</a>

                    </div>
                    <div class="win-modal-footer f-cb">
                        <a class="showbtn f-fl" href="javascript:;" @click="shareActivity">立即分享</a>
                        <a class="showbtn f-fl" href="javascript:;" @click="gotoShopPage( shopInfo.sid)">进店逛逛</a>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</div>


<div v-show="isShowTips">
    <div class="win-modal-mask"></div>
    <transition name="ease">
        <div class="modalBlock">
            <div class="bg">
                <div class="tipText">
                    感谢您对本次活动的支持，本期活动礼品有<br>限，以签到成功的顺序先到先得，唯有坚<br>持，方得始终，预祝您参与成功哦~
                </div>
                <div class="btn" @click="closeTips"></div>
            </div>
        </div>
    </transition>
</div>

        
        
<link rel="stylesheet" href="//cjwxqz.dianpusoft.cn/resources/wxcss/common/draw-sign-list.css?2907">
<!--加倍曝光通用代码-->
<div v-if="actCustomPromotionList != null && actCustomPromotionList.length > 0">
    <div v-for="it in actCustomPromotionList">
        <div :style="{'backgroundColor': '#' + it.bgColor}" style="padding-bottom: 10px;">
            <div :style="{color: '#' + it.textColor}" style="text-align: center;padding: 10px 0;">{{it.name}}</div>
            <div>
                <div v-if="it.pic1 != null && it.pic1 != ''" class="pic" style="padding: 0 0.1rem;">
                    <a :href="it.url1" target="_blank">
                        <img alt="" v-lazy="it.pic1" style="display: block;width: 100%">
                    </a>
                </div>
                <div v-if="it.pic2 != null && it.pic2 != ''" class="pic"
                     :style="{'marginTop': it.removeSpace == null || it.removeSpace == 0 ? '0.1rem' : '0px'}"
                     style="padding: 0 0.1rem;">
                    <a :href="it.url2" target="_blank">
                        <img alt="" v-lazy="it.pic2" style="display: block;width: 100%">
                    </a>
                </div>
                <div v-if="it.pic3 != null && it.pic3 != ''" class="pic"
                     :style="{'marginTop': it.removeSpace == null || it.removeSpace == 0 ? '0.1rem' : '0px'}"
                     style="padding: 0 0.1rem;">
                    <a :href="it.url3" target="_blank">
                        <img alt="" v-lazy="it.pic3" style="display: block;width: 100%">
                    </a>
                </div>
                <div v-if="it.pic4 != null && it.pic4 != ''" class="pic"
                     :style="{'marginTop': it.removeSpace == null || it.removeSpace == 0 ? '0.1rem' : '0px'}"
                     style="padding: 0 0.1rem;">
                    <a :href="it.url4" target="_blank">
                        <img alt="" v-lazy="it.pic4" style="display: block;width: 100%">
                    </a>
                </div>
                <div v-if="it.pic5 != null && it.pic5 != ''" class="pic"
                     :style="{'marginTop': it.removeSpace == null || it.removeSpace == 0 ? '0.1rem' : '0px'}"
                     style="padding: 0 0.1rem;">
                    <a :href="it.url5" target="_blank">
                        <img alt="" v-lazy="it.pic5" style="display: block;width: 100%">
                    </a>
                </div>
            </div>
            <div v-if="it.wareList != null && it.wareList.length > 0">
                <div :style="{color: '#' + it.textColor}" style="text-align: center;padding: 10px 0;">精品推荐</div>
                <div>
                    <ul class="jb_draw-sign-list f-cb">
                        <li v-for="ware in it.wareList">
                            <div class="pic" style="padding: .1rem;">
                                <a href="javascript:;" @click="gotoSkuPage(ware.skuId)">
                                    <img alt="" v-lazy="'//img10.360buyimg.com/n1/' + ware.logo" style="width: 100%">
                                </a>
                            </div>
                            <div class="title">{{ware.skuName}}</div>
                            <div class="detail f-cb">
                                <div class="f-fl">
                                    <div v-if="ware.showType == 1" class="price">￥{{ware.jdPrice}}</div>
                                    <div v-if="ware.showType == 2" class="price">
                                        <template v-if="ware.promoPrice == '' || ware.promoPrice == null">￥{{ware.jdPrice}}
                                        </template>
                                        <template v-else>￥{{ware.promoPrice}}</template>
                                    </div>
                                    
                                </div>
                                <div class="f-fr">
                                    <a class="" style="display: inline-block;margin-top: .1rem;background: #f56264;border-radius: 3px;padding: .05rem .15rem;color: #fff;text-decoration: none;" href="javascript:;" @click="gotoSkuPage(ware.skuId)">购买</a>
                                    
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/common/component/vue-lazyload.js?2907"></script>

</div>


<style>
    .floatBtnCjwx {
        display: none;
        font-size: 0;
        width: 60px;
        height: 63px;
        background-image: url("//img10.360buyimg.com/imgzone/jfs/t1/170021/31/11556/41701/604896aeEe05ec549/14a6f6a0f67af7c9.gif");
        background-size: 100% 100%;
        position: fixed;
        left: 0;
        top:0;
        transform: translate(0, 60vh);
    }
</style>
<a class="floatBtnCjwx" href="javascript:;"   ontouchmove="moveBtnCjwx()" onclick="goToCjwxPage()" ontouchend="leave()">悬浮图标</a>
<script>
    var baseUrl = $("#baseUrl").val();
    var mo=function(e){e.preventDefault();};

    var activityId=getUrlQueryValueByKey(location.href,"activityId");
    $.ajax({
        url: baseUrl + '/wxAssemblePage/getFloatIconStatus',
        type: 'post',
        data: {
            activityId: activityId
        },
        dataType: 'json',
        success: function (data) {
            if(data.data){
                document.querySelector('.floatBtnCjwx').style.display = 'block';
            }
        }
    });
    function getScroll() {
        return {
            top: window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop || 0
        };
    }
    function moveBtnCjwx(e) {
        document.body.style.overflow='hidden';
        document.addEventListener("touchmove",mo,{passive:false});//禁止页面滑动
        var winWidth = document.body.clientWidth, winHeight = document.body.clientHeight, scrollTop = getScroll().top ;
        var e = window.event || arguments.callee.caller.arguments[0];
        var width = document.querySelector('.floatBtnCjwx').offsetWidth, height = document.querySelector('.floatBtnCjwx').offsetHeight;
        var x = e.touches[0].pageX - width/2, y = e.touches[0].pageY - height/2;
        // var a  = document.querySelector(".floatBtnCjwx").offsetTop
        // console.log(a)
        if(scrollTop>0){
            y = y - scrollTop
        }
        if(x < winWidth/2) {
            x = 0;
        }

        if(x > winWidth/2) {
            x = winWidth - width;
        }

        if(y < 50) {
            y = 50;
        }

        if(y > winHeight - height - 50) {
            y = winHeight - height -50;
        }
        document.querySelector('.floatBtnCjwx').style.cssText = 'transform: translate(' + x.toFixed() + 'px,' + y.toFixed() +'px); display: block';
    }
    function leave() {
        document.body.style.overflow='';//出现滚动条
        document.removeEventListener("touchmove",mo,{passive:false});
    }
    function goToCjwxPage() { // 跳转到集合页，可能需要拼上活动id
        location.href = this.baseUrl + '/wxAssemblePage/activity/?activityId=67dfd244aacb438893a73a03785a48c7&ID=' + this.activityId;
    }
    function getUrlQueryValueByKey(url,keyName){
        var reg = new RegExp("(^|[&?])"+ keyName +"=([^&]*)(&|$)");
        var r = url.match(reg);//search,查询？后面的参数，并匹配正则
        if(r!=null)
            return  unescape(r[2]);
        return null;
    }
</script>

<style>
    .floatBtnCjwx{
        z-index: 10;
    }
</style>
<!--技术支持-->
<div class="ibd-foot-copy">
    
<!-- 底部 -->
<div>
    京麦服务市场插件 <span style="color:#3f80ff;">超级无线</span> 提供技术支持
</div>
<div style="font-size: .16rem;">Copyright © 2004-2021京东<span class="yuming"></span> 版权所有 京ICP备17005970号-<span class="domain-name-num"></span></div>
<script>
    setTimeout(function () {
        var hostName=location.hostname;
        if(hostName.indexOf('isvjcloud.com')!=-1){
            $(".yuming").html("isvjcloud.com");
            $(".domain-name-num").html(4);
        }else if(hostName.indexOf('isvjd.com')!=-1){
            $(".domain-name-num").html(10);
            $(".yuming").html("isvjd.com")
        }else if(hostName.indexOf('jdfw1.com')!=-1){
            $(".domain-name-num").html(9);
            $(".yuming").html("jdfw1.com")
        }else {
            $(".domain-name-num").html("");
            $(".yuming").html("127.0.0.1")
        }
    },1000)
</script>

</div>

<!--微信分享指引-->
<div onclick="closeWechatShareMask();">
	<transition name="fase">
		<div class="wechat-share-mask wechatShareMask" style="display: none"></div>
	</transition>
	<transition name="ease">
		<div class="wechat-share-content wechatShareMask" style="display: none"></div>
	</transition>
</div>

<script src="https://lzkj-isv.isvjcloud.com/resources/wxjs/config.min.js?2907"></script>

<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/lzsdk.min.js?2907"></script>

<script src="//cjwxqz.dianpusoft.cn/resources/globalFiles/ConsumerGlobal/browserLog/browserLog.min.js?2907"></script>

<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/wxCustomPromotion/commonJs.js?2907"></script>
<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/common/component/countdown.min.js?2907"></script>
<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/sign/moment.min.js?2907"></script>
<script src="//cjwxqz.dianpusoft.cn/resources/wxjs/sign/templateCommon.min.js?2907"></script>
</body>
</html>
